{
    "Parameters": {
        "NODE_OPTIONS": "--enable-source-maps",
        "ENVIRONMENT_NAME": "local",
        "PORT": "8080",
        "HOST": "localhost",
        "AWS_DYNAMODB_TABLE_NAME": "SINGLE_TABLE",
        "AWS_COGNITO_USER_POOL_ID": "",
        "AWS_COGNITO_FRONTEND_CLIENT_ID": "",
        "AWS_COGNITO_PREFIX_DOMAIN": "dev-climapush-auth",
        "AWS_API_GATEWAY_ID": "",
        "AWS_SNS_PLATFORM_APPLICATION_GCM": ""
    }
}